@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Raleway:wght@400;700&display=swap');

:root {
    --primary-color: #4E0C82;
    --primary-hover-color: #630FA5;
    --secondary-color: #7acc58;
    --secondary-hover-color: #9DFF70;
    --terciary-color: #FFDE59;
    --terciary-color-opposite: #FFDE59;
    --text-color: #1E1E1E;
    --text-color-opposite: #C4C4C4;
    --text-secondary-color: #F5F0FA;
    --background-color: #f5f0fa;
    --background-color-opposite: #2E064D;
    --shadow-secondary: rgba(122, 204, 88, 0.4);
    --text-white: #F5F0FA;
    --text-black: #000;


    --logo-url: url('icon_small.png');

}

.dark-theme {
    --primary-color: #630fa5;
    --primary-hover-color: #4E0C82;
    --secondary-color: #9DFF70;
    --secondary-hover-color: #7acc58;
    --terciary-color: #FFDE59;
    --terciary-color-opposite: #6db64e;
    --text-color: #C4C4C4;
    --text-color-opposite: #1E1E1E;
    --text-secondary-color: #F5F0FA;
    --background-color: #2E064D;
    --background-color-opposite: #F5F0FA;
    --shadow-secondary: rgba(245, 240, 250, 0.4);
    --text-white: #F5F0FA;
    --text-black: #000;

    --logo-url: url('icon_small_dark.png');
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.button-secondary {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: none;
  padding: 12px;
  font-weight: 600;
  color: var(--text-black);
  cursor: pointer;
}


.button-secondary:hover {
  background-color: var(--secondary-hover-color);

}

@media screen and (max-width: 512px) {
  body {
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}