.main-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    background: #000;
}

header .logo{
    color: var(--text-white);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 0.5rem 0 0.5rem;
}

section {
    padding: 2rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.5rem;
    font-family: 'Sriracha';
}

.logo img{
    /*content: var(--logo-url);*/
    width: 64px;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(99, 15, 165, 0.25);
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    cursor: pointer;
}

.nav-links svg {
    fill: var(--text-white);
}

.nav-links a:hover svg {
    fill: var(--terciary-color);
}

.button-theme {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

.button-theme:hover span {
    color: var(--terciary-color);
}

.button-theme span {
    color: var(--text-color);
    font-size: 2rem;
}

.podcaster-section h1 {
    color: var(--secondary-color);
}

.card-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card-container .card {
    background: var(--background-color-opposite);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-container .card:hover {
    box-shadow: 0px 0px 27px var(--shadow-secondary);
}

.card-container .card img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.card-container .card h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color-opposite);
    font-family: 'Sriracha';
}

.card-container .card p {
    color: var(--text-color-opposite);
}

.glossary-section {
    background-color: var(--background-color-opposite);
}

.glossary-section h1 {
    color: var(--text-color-opposite);
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.list-container .item h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--terciary-color-opposite);
    font-family: 'Sriracha';
}

.list-container .item p {
    margin: 0;
    color: var(--text-color-opposite);
}

.home-section {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.home-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

.home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 15, 165, 0.25);
    z-index: 0;
}

.home-section   .content {
    position: relative;
    z-index: 1;
}

.home-section h1 {
    padding: 5%;
    margin: 0;
    color: var(--text-white);
    font-size: 3rem;
    max-width: 40%;
    border-radius: 10px;
}

.ecommerce-section {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.product-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product {
    background: transparent;
    border-radius: 10px;
    text-align: center;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.product img {
    width: 256px;
    height: 256px;
    border-radius: 10%;
    object-fit: cover;
}

.product span {
    position: absolute;
    background-color: var(--secondary-color);
    padding: 9px;
    border-radius: 8px;
    right: 10px;
    top: 10px;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--text-black);
}

.sponsor-section {
    background-color: var(--background-color-opposite);
}

.sponsor-section h1 {
    color: var(--terciary-color-opposite);
}
.sponsor-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.sponsor {
    background: transparent;
    border-radius: 10px;
    text-align: center;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.sponsor img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
    border: 4px solid var(--secondary-color);
}

.sponsor a {
    color: var(--text-color-opposite);
    font-weight: 600;
}

.sponsor:hover a {
    text-decoration: underline;
}

@media screen and (max-width: 512px) {
    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    .home-section h1 {
        margin: 0;
        color: var(--text-white);
        font-size: 3rem;
        max-width: 80%;
        border-radius: 10px;
    }

    .card {
        background: var(--background-color-opposite);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        gap: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-size: 1.25rem;
        font-family: 'Sriracha';
    }


    .logo img{
        content: var(--logo-url);
        width: 48px;
        height: auto;
    }

    footer span {
        text-align: center;
    }
}